* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: serif;
    background-image: linear-gradient(rgb(224, 163, 163), rgb(169, 169, 241));
}

nav {
    background-color: hsl(0, 100%, 75%);
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 40px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 5px;
}

a.active,
a:hover {
    background: #6adbb6;
    transition: .5s;
}

a:active {
    background-color: palevioletred;
    color: black;
    transition: .5s;
}


.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }

    li.dropdown .dropbtn {
        font-size: 20px;
    }
}

@media (max-width: 773px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: url(pexels-philippe-donn-1133957.jpg) no-repeat;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;

    }

    a:hover,
    a.active {
        background: burlywood;
        color: deeppink;
    }

    #check:checked~ul {
        left: 0;
    }


}


section {
    background: url(pexels-james-wheeler-417074.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

ul.drp {
    margin: 0;
    padding: 0;
    background-color: #b94d4d;

}

li.dropdown {
    float: left;
}

li.dropdown a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;

}

li a.dropbtn:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(206, 31, 118);
    color: black;
    transition: .5s;
}

li.dropdown {
    display: inline-block;
}

.dropdown-list {
    display: none;
    padding: 12px 16px;
    background-color: #5fc997;
    min-width: 100px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(218, 16, 16, 0.2);
    z-index: 1;

}

.dropdown-list a.dropbtn1 {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;

}

.dropdown-list a.dropbtn1:hover {
    background-color: #c25858;
    transition: all .6s;
}

.dropdown:hover .dropdown-list {
    display: block;
    outline-style: double;
    outline-color: #6adbb6;
}